# Workflow to build the parallelproj C/CUDA libs (incl. installation of CUDA)
name: python build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  Testing:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.9','3.10']
        os: [ubuntu-latest]
  
    steps:
      - uses: actions/checkout@v3
      - name: Set up PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Show package version
        run: |
          git describe --tags
          pdm show --version
      - name: Install dependencies and package
        run: |
          pdm update -d -G test
          pdm list
      - name: Test CLI
        run: |
          pdm run pyapetnet_list_models
          pdm run pyapetnet_predict_from_nifti -h
          pdm run pyapetnet_predict_from_dicom -h
      - name: Run Tests
        run: |
          pdm run tox
